* {

  :before, :after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: $max-content-width;
  margin: 0 auto;
}
