.app-main {
  padding: $gutter;
  flex-grow: 1;
  background-color: $black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter;

  justify-content: center;
}

.row-item {
  display: flex;
  margin: $gutter;
  width: calc(100% / 3 - (2 * #{$gutter}));
  min-width: $min-content-width;
  background-color: $white;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 0.4 * $min-content-width;

    &--img {
      width: 100%;
    }
  }

  &__text {
    margin: 0.5 * $gutter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
