.app-main {
  flex-grow: 1;
  background-color: $black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-item {
  margin: $gutter;
  width: calc(100% / 3 - (2 * #{$gutter}));
  min-width: $min-content-width;
  background-color: $white;

  &__image {
    width: 100%;

    &--img {
      width: 100%;
    }
  }
}
