<header class="header">
  <div class="container">
    <h1 class="header-content title">Breweries</h1>
  </div>
</header>
<main class="app-main">
  <div class="container">
    <div class="grid">
      <div class="grid-row">
        <div class="grid-item">
          <div class="grid-item__image">
            <img src="http://placecage.com/200/200" alt="" class="grid-item__image--img">
          </div>
          <div class="grid-item__text">
            <p class="grid-item__text--name">nick in a cage</p>
            <p class="grid-item__text--date">est. 3030 AoC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <p class="footer-content credits">Coded by Woody Evins</p>
  </div>
</footer>
